body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

h1,
#content {
  padding: 1rem 2rem;
}

h1 {
  padding: 0;
  margin: 2rem 3rem;
  text-align: left;
}

#content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  margin-bottom: 2rem;
}

.row {
  display: flex;
  min-width: 100%;
  min-height: 33%;
  flex-shrink: 0;
  align-items: center;
}

#row-0 > div {
  border-top: none;
}

.row div:first-child {
  border-left: none;
}

.row div:last-child {
  border-right: none;
}

.row > div {
  border-bottom: none;
}

/* Set a static width for a 3x3 grid */
.cell {
  border: 1px solid darkblue;
  min-width: 33%;
  min-height: 100%;
  text-align: center;
  font-size: 48px;
}

.player-input{
  display: flex;
}

.player-input > div {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
}

.player-input > div > label {
  margin-bottom: .5rem;
}